@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

/* Home Screen & Image Properties */
* {
    margin: 0;
    padding: 0;
    border: none;
  }

  body {
    font-family:'STIX Two Text', serif;
  }

  #home {
    text-align: center;
  }

  img {
    height: 280px;
  }


  h2 {
    font-size: 40px; 
  }

  /* Question Container With Answer Buttons & Controls */

  #container {
    display: flex;
    justify-content: center;
  }

  .flex-container {
    text-align: center;
    border-radius: 2%;
    width: 600px;
    padding: 10px;
  }

  #question-placeholder {
    color: black;
    font-size: 150%;
  }

  .btn {
    border: none;
    color: black;
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5%;
    background-color: grey;
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 100%;
}

  .btn:hover {
    background-color: goldenrod;
    color: black;
  }

  .hide {
    display: none;
  }

  #start-btn {
    background-color: grey;
    height: 80px;
    font-size: 100%;
    width: 250px;
    text-transform: uppercase;
  }

  #instruct {  
    text-transform: uppercase;
    height: 80px;
    font-size: 100%;
    width: 250px;
  }

  #next-btn {
    background-color: grey;
  }

  #next-btn:hover, #start-btn:hover {
    background-color: goldenrod;
  }

  #front-controls {
    display: flex;
    justify-content: center;
  }

  /* Score Area */

  #score-area {
    padding: 20px;
    font-size: 150%;
  }

  .correct {
    color: green;
  }

  .incorrect {
    color: red;
  }

  /* Instructions Tab */

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    font-size: 120%;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .wands {
    padding: 10px;
  }


  /* Responsive Styles */

  @media screen and (max-width: 600px) {
    img {
      width: 320px;
      height: 250px;
    }

    #score-area {
      padding: 20px;
      font-size: 120%;
    }

    .overlay-content {
      font-size: 100%;
    }

    #front-controls {
      display: flex;
      flex-wrap: wrap;
    }

  }
  



  




