


* {
    margin: 0;
    padding: 0;
    border: none;
  }

  #home {
    text-align: center;
    background-color: gray;
  }

  h1 {
    font-size: 100px;
    color: goldenrod;
  }

  h2 {
    font-size: 50px;
    color: white;
  }

  #container {
    background-image: url(/assets/images/hogwarts.jpg);
    background-color: #cccccc;
    background-position: bottom center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 290%;
  }


  .flex-container {
    color: white;
    text-align: center;
    border-radius: 2%;
    padding: 10px;
    width: 600px;
    height: 400px;
  }

  #question-placeholder {
    color: black;
  }

  #answer-buttons-container {
      padding: 50px;
  }

  .btn {
    border: none; /* Remove borders */
    color: black; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 5%;
    background-color: grey;
    width: 200px;
    height: 80px;
    margin: 20px;
    font-size: 20px;
}

  .btn:hover {
    background-color: goldenrod;
    color: black;
  }

  .hide {
    display: none;
  }

  #start-btn {
    height: 200px;
    font-size: 25px;
    width: 350px;
    position: relative;
    top: 250px;
    text-transform: uppercase;
  }
  




