@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

/* Home Screen & Image Properties */
* {
    margin: 0;
    padding: 0;
    border: none;
  }

  body {
    font-family: 'STIX Two Text', serif;
  }

  #body2 {
    background-image: url("../images/hogwarts-2.jpg"); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  #home {
    text-align: center; 
  }


  /* @keyframes home-zoom {
    from {
        transform: scale(1);

    }
    to {
transform: scale(1.1);
    }

} */

  h2 {
    padding-top: 20px;
    font-size: 40px; 
  }

  #hp-logo {
    width: 40%;
  }



/* splash screen */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  color: white;
  text-align: center;
  padding: 150px 0;

}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  padding: 150px 0;
  transition: all 0.8s;

}

@keyframes fadeIn {
  to {
opacity: 3;
  }

}

.fade-in {
  text-transform: uppercase;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  font-size: 200%;

}

  /* Question Container With Answer Buttons & Controls */

  /* Score-Board */

  #score-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }


  #score-board, #hud-item  {
    text-align: center;
    padding: 20px;
    font-size: 120%;
    width: 120px;
    height: 70px;
    border: black solid;
    background-color: goldenrod;
    margin: 10px;
    text-decoration: none;
  }


  #container {
    display: flex;
    justify-content: center;
    
  }

  #flex-container {
    text-align: center;
    width: 600px;
    padding: 10px;
  }

  #question-placeholder {
    text-transform: uppercase;
    border: black solid ;
    background-color: gray;
    color: black;
    font-size: 150%;
  }

  .btn {
    font-weight: bold;
    font-family: 'STIX Two Text', serif;
    border: solid black;
    color: black;
    cursor: pointer; 
    border-radius: 5%;
    background-color:goldenrod;
    width: 200px;
    height: 90px;
    margin: 20px;
    font-size: 100%;
    text-transform: uppercase;
    
}

.btn2 {
    font-weight: bold;
    font-family: 'STIX Two Text', serif;
    border: solid black;
    color: black;
    cursor: pointer; 
    border-radius: 5%;
    background-color: gray;
    width: 200px;
    height: 90px;
    margin: 20px;
    font-size: 100%;
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;

}

.btn2:hover {
  background-color: goldenrod;
}

#reset {
  margin: 20px;
}

  .hide {
    display: none;
  }

  #start-btn {
    text-align: center;
    padding: 20px;
    font-size: 150%;
    height: 120px;
    width: 400px;
  }

  #start-btn:hover {
    background-color: gray;
  }

  #instruct-tab {
    padding: 20px;
    text-align: center;
  }

  #instruct:hover {
    background-color: gray;
  }

  #instruct {
    border: solid black;
    cursor: pointer; 
    font-size: 120%;
  }

  .correct {
    background-color: green !important;
  }

  .incorrect {
    background-color: red !important;
  }

  #reset {
    text-align: center;
  }


  /* Instructions Tab */

  /* .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    font-size: 170%;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .wands {
    text-decoration: underline solid;
    padding: 10px;
  } */

  /* Game Over Page */

  #center {
    color: white;
    background-image: url(../images/grand-hall.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    text-align: center;
  }

  #play-again-area a {
    font-size: 120%;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }

  #results {
    position: relative;
    bottom: 50px;
    text-transform: uppercase;
    color: black;
    background-color: goldenrod;
    font-size: 150%;
  }

  .house-badge {
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .hide2 {
    display: none;
  }
  .hide3 {
    display: none;
  }
  .hide4 {
    display: none;
  }
  .hide5 {
    display: none;
  }

  #play-again:hover {
    background-color: gray;
  }

  /* Responsive Styles */

  @media screen and (max-width: 900px) {
    #results {
      font-size: 120%;
    }

    #start-btn, #instruct {
      width: 300px;
      font-size: 120%;
      padding: 20px;
    }

    #hp-logo {
      width: 80%;
    }

  }

  @media screen and (max-width: 600px) {

    .overlay-content {
      font-size: 100%;
    }

    #front-controls {
      display: flex;
      flex-wrap: wrap;
    }

    #start-btn {
      height: 100px;
      width: 200px;
      font-size: 100%;
      padding: 10px;
    }

    #instruct {
      height: 70px;
      width: 200px;
      font-size: 100%;
    }

    #results {
      font-size: 80%;
    }

    .splash, .splash.display-none {
      padding: 90px 0;
    }

    .fade-in {
      font-size: 150%;
    }

    .overlay-content {
      font-size: 100%;
    }

    .house-badge {
      width: 200px;
      height: 200px;
    }

    .btn {
      height: 60px;
    }
  }

  @media screen and (max-width: 350px) {
  .btn {
      height: 30px;
     }

     #question-placeholder {
       font-size: 100%;
     }
  }